.ui-label {
  margin-bottom: 5px;
  font-size: 16px;
  color: $color-grey-hard;
  cursor: pointer;

  &--small {
    margin-bottom: 0;
    margin-right: 5px;
    font-size: 14px;
    color: $color-black;
    white-space: nowrap;
  }
}
