.ui-table {
  width: 100%;
  min-width: 1000px;
  height: calc(100% - 76px);
  display: grid;
  overflow: auto;

  &__overflow {
    height: calc(100vh - 170px);
    overflow: hidden;
  }

  &__wrapper {
    height: 100%;
    border: 1px solid $color-grey;
    background: $color-white;
    overflow: auto;
  }

  thead,
  tbody,
  tr {
    display: contents;
  }

  th {
    position: sticky;
    top: 0;
    max-height: 60px;
    font-size: 18px;
    border-bottom: 1px solid $color-grey;
    background: $color-white-light;
  }

  th + th {
    border-left: 1px solid $color-grey;
  }

  th,
  td {
    text-align: left;
    padding: 16px 20px;
    min-width: 100px;
  }

  th span,
  td span {
    display: block;
  }

  tr td {
    border-bottom: 1px solid $color-grey;
  }

  tr {
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }
}

.ui-table-footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1000px;
  padding: 20px;
  border-top: 1px solid $color-grey;
  background: $color-white;
  white-space: nowrap;

  &__info {
    display: flex;
    margin-right: 20px;
  }

  &__col {
    display: flex;

    & + & {
      margin-left: 24px;
    }
  }
}
