.app {
  &__header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
    font-size: 22px;
    font-weight: 700;
    color: $color-white;
    background: $color-header;
  }
}
