.main-table {
  position: relative;
  width: calc(100% - 350px);
  margin: 30px;
  padding: 20px;
  border-radius: $radius;
  background: $color-white;

  &--full-width {
    width: calc(100% - 60px);

    @include mediaToDown($container-tablet) {
      width: calc(100% - 90px);
    }
  }

  &__user-avatar {
    width: 80px;
    border-radius: 50%;
  }
}
