.main-table {
  position: relative;
  width: calc(100% - 350px);
  margin: 30px;
  padding: 20px;
  border-radius: $radius;
  background: $color-white;

  &--full-width {
    width: calc(100% - 60px);

    @include mediaToDown($container-tablet) {
      width: calc(100% - 90px);
    }
  }

  &__user-avatar {
    width: 80px;
    border-radius: 50%;
  }

  &__not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
  }

  &__link {
    color: $color-button-primary;
    transition: $transition;

    &:hover {
      color: $color-button-primary-hover;
    }

    &:active {
      color: $color-button-primary-active;
    }
  }
}
