.not-found {
  width: 100%;
  margin-top: 200px;
  text-align: center;

  &__title {
    font-size: 60px;
    font-weight: 700;
  }

  &__info {
    font-size: 30px;
    margin: 20px 0;
  }

  &__link {
    color: $color-button-primary;
    transition: $transition;

    &:hover {
      color: $color-button-primary-hover;
    }

    &:active {
      color: $color-button-primary-active;
    }
  }
}
