.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 290px;
  height: calc(100vh - 60px);
  padding: 20px;
  background: $color-white;
  transition: $transition;

  @include mediaToDown($container-mobile) {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &--hide {
    transform: translateX(-1000%);
    width: 0;
  }
}

.sidebar-head {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__arrow {
    width: 24px;
    height: 24px;
    background: url('../../images/sidebar-arrow.svg') no-repeat center center/cover;
    cursor: pointer;
    transition: $transition;

    @include mediaToDown($container-mobile) {
      display: none;
    }
  }
}

.sidebar-body {
  height: 100%;
  margin: 25px 0;
  margin-right: -16px;
  padding-right: 16px;
  overflow: auto;

  &__row {
    & + & {
      margin-top: 30px;
    }
  }
}

.sidebar-footer {
  display: flex;
  padding-top: 20px;
  margin-top: auto;
  border-top: 1px solid $color-grey;

  &__button {
    width: 50%;
  }
}
